<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/vue">
  </script>
  <link rel="stylesheet" href="./style.css">
  <title>Notes Vue</title>
</head>

<body>
  <div id="app">
    <h1> {{title}} </h1>

    <!-- new not -->
    <div class="new-note">
      <input v-model="note.title" type="text">
      <textarea v-model="note.descr"></textarea>
      <button @click="addNote">addNote</button>
    </div>
    <!-- note list -->
    <div class="notes">
      <div class="note" v-for="(note, index) in notes" :key="index">
        <div class="note-header">
          <p>
            {{note.title}}
          </p>
        </div>
        <div class="note-body">
          <p>{{ note.descr }} </p>
          <span>{{note.date}}</span>
        </div>
      </div>
    </div>

  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        title: 'Notes App',
        note: {
          title: '',
          descr: '',
        },
        notes: [
          {
            title: 'First Note',
            descr: 'Description for second note',
            date: new Date(Date.now()).toLocaleTimeString(),
          },
          {
            title: 'Second Note',
            descr: 'Description for second note',
            date: new Date(Date.now()).toLocaleTimeString(),
          },
          {
            title: 'Third Note',
            descr: 'Description for second note',
            date: new Date(Date.now()).toLocaleTimeString(),
          },
        ],
      },
      methods: {
        addNote(){
          // console.log(this.note);
          let {title, descr} = this.note
          this.notes.push({
            title,
            descr,
            date: new Date(Date.now()).toLocaleTimeString(),
          })
        }
      },
    })
  </script>
</body>

</html>